<%- include('components/head.html') -%>

<div class="container-fluid">
  <header class="mb-auto py-2 mt-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead">Username : <span id="username"></span></p>
        </div>
        <div class="col">
          <p class="lead">Network ID : <span id="rnbUserId"></span></p>
        </div>
      </div>
    </div>
    <%- include('components/CalendlyLogin.html') -%>
    <hr>
  </header>

  <main></main>

  <footer class="mt-auto"></footer>

</div>

<!-- TODO display balances -->

<script>
  $('#username').html(sessionStorage.getItem('rally-userID'));
  $('#rnbUserId').html(sessionStorage.getItem('rally-networkID'));
</script>

<%- include('components/tail.html') -%>
