<%- include('components/head.html') -%>

<div class="container-fluid">
  <header class="mb-auto py-2 mt-3">
    <div class="container" id="rallyInfo">
      <div class="row">
        <div class="col">
          <p class="lead">Username : <span id="rallyUserID"></span></p>
        </div>
        <div class="col">
          <p class="lead">Network ID : <span id="rallyNetworkID"></span></p>
        </div>
      </div>
    </div>
    <%- include('components/CalendlyLogin.html') -%>
    <hr>
  </header>

  <main>
    <%- include('components/CreateEvent.html') -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col" id="gatedEventsList">
          <h4 class="card-title">Others' Events</h4>
          <%- include('components/GatedEvents.html') -%>
        </div>
        <div class="col" id="selfEventsList">
          <h4 class="card-title">Your Events</h4>
          <%- include('components/CreatedEvents.html') -%>
          <%- include('components/ScheduledEvents.html') -%>
        </div>
      </div>
    </div>
  </main>

  <footer class="mt-auto"></footer>

</div>

<!-- TODO display balances -->

<script>
  $('span#rallyUserID').html(sessionStorage.rallyUserID);
  $('span#rallyNetworkID').html(sessionStorage.rallyNetworkID);
</script>

<script src="/static/js/forms.js"></script>
<script>
  prePopuluateEventForms();
  showGatedEvents(sessionStorage.isCreated);
</script>

<%- include('components/tail.html') -%>
