<%- include('components/head.html') -%>

<div class="container-fluid">
  <header class="mb-auto py-2 mt-3">
    <div class="container" id="rallyInfo">
      <div class="row">
        <div class="col">
          <p class="lead">Username : <span id="rallyUserID"></span></p>
        </div>
        <div class="col">
          <p class="lead">Network ID : <span id="rallyNetworkID"></span></p>
        </div>
      </div>
    </div>
    <%- include('components/CalendlyLogin.html') -%>
    <hr>
  </header>

  <main>
    <%- include('components/CreateEvent.html') -%>
  </main>

  <footer class="mt-auto"></footer>

</div>

<!-- TODO display balances -->

<script>
  $('span#rallyUserID').html(sessionStorage.rallyUserID);
  $('span#rallyNetworkID').html(sessionStorage.rallyNetworkID);
</script>

<%- include('components/tail.html') -%>
