<%- include('components/head.html') -%>

<div class="container-fluid d-flex flex-column">

  <header class="mb-auto"></header>

  <main class="px-3">

    <h1 class="display-6">Rally Gatr</h1>
    <p class="lead">Click the button to authorize application via RallyIO</p>
    <button class="btn btn-large btn-outline-light" onclick="loginRally()">Login</button>

    <form action="/home" method="post" name="rally-login" id="rallyLoginForm">
      <input name="formName" type="hidden" value="rallyLoginForm">
      <input id="rallyUserID" type="hidden" name="userID">
      <input id="rallyNetworkID" type="hidden" name="networkID">
      <input id="isCreator" type="hidden" name="isCreator">
    </form>

  </main>

  <footer class="mt-auto"></footer>
</div>

<%- include('components/tail.html') -%>