<html>
  <%- include('head.html') -%>

  <script>
    if (localStorage.getItem('isCreator') == 'true')
      window.location = `/creator/${localStorage.getItem('username')}`;
  </script>

  <body>
    <h1>Home</h1>

    <p>
      Username : <span id="username"></span>
    </p>

    <p>
      rnb User ID : <span id="rnbUserId"></span>
    </p>

    <!-- TODO display balances -->

  </body>

  <script>
    $('#username').html(localStorage.getItem('username'));
    $('#rnbUserId').html(localStorage.getItem('rnbUserId'));
  </script>

</html>