<%- include('components/head.html') -%>

<script>
  // Reconfirm that creator is displayed the creator page
  if (localStorage.getItem('isCreator') == 'true')
    window.location = `/creator/${localStorage.getItem('username')}`;
</script>

<div class="container-fluid">
  <header class="mb-auto py-2 mt-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead">Username : <span id="username"></span></p>
        </div>
        <div class="col">
          <p class="lead">Network ID : <span id="rnbUserId"></span></p>
        </div>
      </div>
    </div>
    <hr>
  </header>

  <main></main>

  <footer class="mt-auto"></footer>

</div>

<!-- TODO display balances -->

<script>
  $('#username').html(localStorage.getItem('username'));
  $('#rnbUserId').html(localStorage.getItem('rnbUserId'));
</script>

<%- include('components/tail.html') -%>
