<div class="modal fade" tabindex="-1" id="userMessageModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      
      <div class="modal-header">
        <h4 class="modal-title">Response from server</h4>
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p class="lead" id="serverMessage"></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>