<div class="container" id="calendlyLogin">
  <button class="btn btn-large btn-outline-light" onclick="loginCalendly()">Calendly Login</button>
  <form method="post" action="/home">
    <input name="formName" type="hidden" value="calendlySlug">
    <input name="isCreator" type="hidden" id="isCreator">
    <input name="slug" type="hidden" id="slug">
  </form>
</div>

<div class="container" id="calendlySlug">
  <p class="lead">Calendly: <span id="slugVal"></span></p>
</div>

<script>
  function submitForm(slug) {
    sessionStorage.setItem('calendlySlug', slug);
    $('#isCreator').val(sessionStorage.getItem('isCreator'));
    $('#slug').val(slug);
    $('form').submit();
    // TODO Ajax form submit
  }
</script>

<script>
  if (sessionStorage.calendlySlug) {
    $('#calendlyLogin').css('display', 'none');
    $('#slugVal').html(`@${sessionStorage.calendlySlug}`);
    $('#calendlySlug').css('display', 'block');
  } else {
    $('#calendlyLogin').css('display', 'block');
    $('#calendlySlug').css('display', 'none');
  }
</script>