<div class="container-fluid" id="createEventBlock">

  <div class="container" id="createNewEventPre">
    <p class="lead">Please connect your Calendly account by clicking the button above.</p>
  </div>
  
  <div class="container" id="createNewEventButton">
    <p>
      <button class="btn btn-large btn-outline-light" data-bs-toggle="modal" data-bs-target="#createNewEventModal">
        Create new event
      </button>
    </p>
  </div>

</div>

<div class="modal fade" id="createNewEventModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark text-white">

      <div class="modal-header">
        <h5 class="display-6">Create New Gated Event</h5>
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      
      <div class="modal-body lead" id="createNewEventModalBody">
        <!-- TODO Client Side Form Validation -->
        <!-- https://getbootstrap.com/docs/4.0/components/forms/#supported-elements -->
        <form action="/events/new" method="post" id="createNewEventForm">
          <input type="hidden" name="formName" value="createNewEvent">
          <input type="hidden" name="calendlySlug" id="calendlySlug">
          <input type="hidden" name="tokenSymbol" id="tokenSymbol">
          <input type="hidden" name="rallyNetworkID" id="rallyNetworkID">
          <div class="form-group row mb-3 px-3">
            <label for="gateName" class="col-sm-2 col-form-label">Gate Name</label>
            <div class="col-sm-10">
              <input type="text" name="gateName" id="gateName" class="form-control" required>
            </div>
          </div>
          <div class="form-group row mb-3 px-3">
            <label class="col-sm-2 col-form-label">Gate Type</label>
            <div class="col-sm-10">
              <div class="form-check form-check-inline">
                <input type="radio" name="gateType" id="gateTypeToken" value="token" class="custom-control-input" required>
                <label for="gateTypeToken">$<span id="tokenSymbolModalRadio"></span> Tokens</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" name="gateType" id="gateTypeNFT" value="nft" class="custom-control-input" required>
                <label for="gateTypeNFT">NFTs</label>
              </div>
            </div>
          </div>
          <div class="form-group row mb-3 px-3" id="nftOptionsDiv" style="display: none;">
            <label for="nftOptions" class="col-sm-2 form-label">NFT Title</label>
            <div class="col-sm-10">
              <select name="nftOptions" id="nftOptions" class="custom-select form-control">
                <option value="">Select a NFT as gatekeeper</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3 px-3">
            <label for="minHeldQty" class="col-sm-2 form-label">Quantity</label>
            <div class="col-sm-10">
              <input type="number" name="qty" id="minHeldQty" class="form-control" required>
            </div>
          </div>
          <div class="form-group row mb-3 px-3">
            <label for="eventOptions" class="col-sm-2 form-label">Calendly Event</label>
            <div class="col-sm-10">
              <select name="eventOptions" id="eventOptions" class="custom-select form-control" required>
                <option value="">Select the Calendly Event dedicated for the meet</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-outline-light" value="Submit">
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

<script> /* conditional displays */

  if (sessionStorage.isCreator == 'false') {
    $('#createEventBlock').hide();
  } else {
    if (!sessionStorage.calendlySlug) {
      $('#createNewEventPre').show();
      $('#createNewEventButton').hide();
    } else {
      $('#createNewEventPre').hide();
      $('#createNewEventButton').show();
    }
  }

</script>

<script> /* form behaviour */

  $('#createNewEventModalBody input[name="gateType"]').on('click', () => {
    let val = $('input[name="gateType"]:checked').val();
    if (val === 'nft') {
      $('#createNewEventModalBody #nftOptionsDiv').show();
      $('#createNewEventModalBody input#nftOptions').attr('required', true);
      $('#createNewEventModalBody input#minHeldQty').val(1);
    }
    else {
      $('#createNewEventModalBody #nftOptionsDiv').hide();
      $('#createNewEventModalBody input#nftOptions').attr('required', false);
      $('#createNewEventModalBody input#minHeldQty').val('');
    }
  });
  
</script>

<script> /* add hidden values */

  $('#createNewEventModal').on('show.bs.modal', (event) => {
    $('#createNewEventModalBody input#tokenSymbol').val(sessionStorage.isCreator);
    $('#createNewEventModalBody input#calendlySlug').val(sessionStorage.calendlySlug);
    $('#createNewEventModalBody input#rallyNetworkID').val(sessionStorage.rallyNetworkID);
    
    $('#createNewEventModalBody span#tokenSymbolModalRadio').html(sessionStorage.isCreator);
  });

</script>

<script> /* submit form */

  $('form#createNewEventForm').on('submit', (e) => {
    e.preventDefault();
    let form = $('form#createNewEventForm');
    console.log(form);
    $.ajax({
      type: 'POST',
      url: form.attr('action'),
      data: form.serialize()
    }).then( (msg) => {
      $('#createNewEventModalBody')
        .html(`<p class="lead">${msg}</p>`);
      showCreatedEvents(sessionStorage.isCreator);
    });
  });

</script>