<div class="container-fluid" id="gatedEventsDiv">

</div>

<div class="modal fade" id="scheduleEventModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">

    <div class="modal-content bg-dark text-white">

      <div class="modal-header">
        <h5 class="display-6">Schedule Event</h5>
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>


      
      <div class="modal-body lead" id="scheduleEventModalBody">
        <!-- TODO Client Side Form Validation -->
        <!-- https://getbootstrap.com/docs/4.0/components/forms/#supported-elements -->
        
        <div class="calendly-inline-widget" style="min-width:320px;height:580px;" data-auto-load="false" id="calendlyEmbed" style="display: none;"></div>

        <div class="container" id="rallyPurchase" style="display: none;"></div>
        
        <form method="post" id="scheduleEventForm">
          <input type="hidden" name="formName" value="scheduleEvent">
          <input type="hidden" name="rallyUserID" id="rallyUserID">
          <input type="hidden" name="calendlyScheduledEvent" id="calendlyScheduledEvent">
          <input type="hidden" name="calendlyScheduledInvitee" id="calendlyScheduledInvitee">
        </form>


      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<script>
  function showCalendly(id) {
    $('#scheduleEventForm').prop('action', `/events/schedule/${id}`);
    $('#scheduleEventForm input#rallyUserID').val(sessionStorage.rallyUserID);
    $.ajax({
      method: 'GET',
      url: `/calendly/single/${sessionStorage.calendlySlug}/${id}`
    }).then( (url) => {
      console.log(url)
      $('#editEventModalBody #calendlyEmbed').show();
      Calendly.initInlineWidget({
        url: url,
        parentElement: $('#editEventModalBody #calendlyEmbed')
      });
    });
  }

  function showRallyPurchase(token) {
    // TODO how?
  }

  function showNFTPurchase(nft) {
    // TODO how?
  }
</script>
<script>
  $('#scheduleEventModal').on('show.bs.modal', (event) => {
    let button = $(event.relatedTarget);
    let data = {
      name: button.data('name'),
      gate: button.data('gate'),
      nft: button.data('nft'),
      qty: button.data('qty'),
      token: button.data('token'),
      calendly: button.data('calendly'),
      id: button.data('eventid')
    }
    let url = undefined;
    if (data.gate == 'token') {
      url = `/rally/balance/${sessionStorage.rallyNetworkID}/token/${data.token}`;
    } else {
      url = `/rally/balance/${sessionStorage.rallyNetworkID}/nft/${data.nft}`;
    }
    $.ajax({
      method: "GET",
      url: url
    }).then( (msg) => {
      if (data.gate == 'token') {
        if (msg.qty >= data.qty) {
          showCalendly(data.id);
        } else {
          showRallyPurchase(data.token);
        }
      } else {
        if (msg.owned) {
          showCalendly(data.id);
        } else {
          showNFTPurchase(data.nft);
        }
      }
    })
  });
</script>
<script>
  function isCalendlyEvent(e) {
    return e.origin === 'https://calendly.com' && e.data.event && e.data.event.indexOf('calendly.') === 0;
  };

  $(window).on('message', (e) => {
    let event = e.originalEvent;
    if (isCalendlyEvent(event) && event.data.event == 'calendly.event_scheduled') {
      let event_uuid = event.data.payload.event.uri.split('/').slice(-1)[0];
      let invitee_uuid = event.data.payload.invitee.uri.split('/').slice(-1)[0];
      $('#scheduleEventForm input#calendlyScheduledEvent').val(event_uuid);
      $('#scheduleEventForm input#calendlyScheduledInvitee').val(invitee_uuid);
      let form = $('#scheduleEventForm');
      $.ajax({
        method: 'POST',
        url: form.prop('action'),
        data: form.serialize()
      }).then( (msg) => {
        $('#scheduleEventModalBody').html(`<p class="lead">${msg}</p>`);
      });
    }
  })
</script>